body {
    background-color: lightgray;
}

.container {
    max-width: 500px;
    margin: 60px auto auto auto;
    padding: 30px;
    align-self: center;
    min-height: 400px;
    background-color: white;
    box-shadow: 0 0 1px #181818;
}
input {
    border-radius: 5px;
}
button {
    border-radius: 5px;
}

.image-link {
    font-size: 16px;
    text-decoration: none;
}

a {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.upload {
    margin-top: 15px;
}
.errorlist li{
    display: block;
    color: red;
}
.errorlist {
    padding: 0;
}